.item {
  *zoom: 1;
  margin-top: 3px;
  display: table;
  position: relative; }
  .item:after {
    content: "";
    display: table;
    clear: both; }
  .item label, .item input, .item .wrap {
    float: left;
    position: relative; }
  .item label {
    text-align: left;
    margin: 0px 5px 0px 6px;
    line-height: 28px; }
  .item .wrap {
    margin-top: 20px;
    margin-left: 17px; }
  .item input {
    border: none;
    outline: none; }
  .item input:disabled {
    /*background:#F9F9F9;*/
    background: #fff; }
  .item .add-tag-btn {
    position: absolute;
    cursor: pointer;
    right: -23px;
    top: 1px; }
  .item .del-link-btn, .item .edite-link-btn, .item .up-btn {
    position: absolute;
    left: -24px;
    top: 7px;
    cursor: pointer; }
  .item .edite-link-btn {
    left: -8px; }
  .item .up-btn {
    left: -40px; }
  .item.showline input {
    border: 1px solid #ccc;
    outline: none; }
  .item .link-url {
    width: 300px; }
