@charset "UTF-8";
@import "http://static.ws.kukuplay.com/common/styles/font-awesome.min.css";
body {
  font-size: 12px;
  font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";
  line-height: 1.428571429;
  color: #333333;
  background-color: #EAEDF1; }

ul, ul li {
  list-style: none;
  padding: 0px;
  margin: 0px; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mt10 {
  margin-top: 10px; }

.mt20 {
  margin-top: 20px; }

.mt30 {
  margin-top: 30px; }

.mt40 {
  margin-top: 40px; }

.mt50 {
  margin-top: 50px; }

.btn {
  font-size: 12px;
  border-radius: 0px;
  padding: 5px 16px;
  height: 26px;
  line-height: 14px; }

.small-btn {
  padding: 0px 3px;
  line-height: 12px;
  height: 16px; }

.fleft {
  float: left !important; }

.fright {
  float: right !important; }

table.dataTable {
  margin-top: 0px !important; }

.topbar {
  position: relative;
  z-index: 100;
  clear: both;
  height: 50px;
  background: #40505B;
  font-size: 12px;
  min-width: 1200px;
  z-index: 101; }
  .topbar a {
    text-decoration: none; }
  .topbar .topbar-left {
    height: 100%;
    float: left; }
    .topbar .topbar-left.left-home {
      width: 80px; }
      .topbar .topbar-left.left-home a {
        margin-left: 20px;
        color: #fff;
        line-height: 68px; }
  .topbar .topbar-nav-btn {
    padding: 0 20px;
    height: 50px;
    font-size: 14px;
    color: #fff;
    font-size: 14px;
    line-height: 50px;
    position: relative;
    float: left; }
    .topbar .topbar-nav-btn a {
      color: #fff; }
    .topbar .topbar-nav-btn.active {
      background: #fff; }
      .topbar .topbar-nav-btn.active a {
        color: #444444; }
    .topbar .topbar-nav-btn:hover {
      background: #fff; }
      .topbar .topbar-nav-btn:hover a {
        color: #444444; }
      .topbar .topbar-nav-btn:hover .dropdown-menu {
        display: block; }
  .topbar .dropdown-menu {
    border: none;
    padding: 10px;
    margin-top: 0;
    white-space: nowrap;
    border-radius: 0px; }
    .topbar .dropdown-menu .topbar-nav-col {
      display: inline-block;
      vertical-align: top;
      padding: 0 10px; }
      .topbar .dropdown-menu .topbar-nav-col ul li {
        min-width: 60px;
        height: 30px;
        line-height: 30px;
        margin-bottom: 2px; }
        .topbar .dropdown-menu .topbar-nav-col ul li a {
          display: block;
          height: 100%;
          padding: 0 10px;
          text-decoration: none;
          color: #555555;
          font-size: 12px; }
          .topbar .dropdown-menu .topbar-nav-col ul li a:hover {
            background: #f2f2f2; }

.main-content {
  z-index: 100;
  position: absolute;
  width: 100%;
  top: 50px;
  bottom: 0px;
  background-color: #000;
  /*====================内容部分=================*/ }
  .main-content a {
    text-decoration: none; }
  .main-content .left-slide-bar {
    width: 80px;
    display: block;
    position: fixed;
    top: 50px;
    bottom: 0px;
    background-color: #3B8686;
    z-index: 102;
    overflow-x: hidden; }
    .main-content .left-slide-bar ul li a {
      display: block;
      width: 100%;
      height: 40px;
      line-height: 40px;
      overflow: hidden;
      color: #fff;
      text-align: center; }
      .main-content .left-slide-bar ul li a:hover {
        color: #444444;
        background: #ECF0F1; }
    .main-content .left-slide-bar ul li.active a {
      color: #444444;
      background: #ECF0F1; }
  .main-content .content-inner {
    width: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    overflow: hidden;
    background: #FFF; }
    .main-content .content-inner.left-content {
      left: 80px; }
  .main-content .inner-slide-bar {
    width: 96px;
    float: left;
    background-color: #EAEDF1;
    position: absolute;
    top: 0px;
    bottom: 0px;
    z-index: 2;
    overflow: hidden; }
    .main-content .inner-slide-bar .title {
      font-weight: bold;
      width: 96px;
      height: 40px;
      line-height: 40px;
      background: #EAEDF1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: center; }
    .main-content .inner-slide-bar .list {
      position: absolute;
      top: 40px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      overflow-y: auto;
      overflow-x: hidden; }
      .main-content .inner-slide-bar .list ul li a {
        width: 96px;
        height: 40px;
        line-height: 40px;
        display: block;
        color: #333;
        text-align: center; }
        .main-content .inner-slide-bar .list ul li a.current, .main-content .inner-slide-bar .list ul li a:hover {
          background: #fff; }
        .main-content .inner-slide-bar .list ul li a .link {
          width: 96px;
          float: left;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
  .main-content .content-body {
    position: absolute;
    width: auto;
    top: 0px;
    bottom: 0px;
    left: 96px;
    right: 0px;
    overflow: hidden;
    overflow-y: auto;
    padding-bottom: 50px; }
    .main-content .content-body .right-content, .main-content .content-body #content {
      margin: 0px; }

.right-content, #content {
  background: #fff;
  margin: 50px 0px 0px 176px;
  padding: 0px 15px; }
  .right-content .content-title, #content .content-title {
    padding: 16px 0px;
    min-height: 70px;
    border-bottom: 1px solid #DDD; }
    .right-content .content-title h5, #content .content-title h5 {
      text-indent: 8px;
      border-left: 2px solid #88B7E0; }

.nav-tabs {
  margin-top: 20px; }
  .nav-tabs > li {
    margin-left: -1px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    z-index: 1; }
    .nav-tabs > li > a {
      border: 1px solid transparent;
      margin-right: 2px;
      line-height: 1.428571429;
      border-radius: 0px 0px 0px 0px;
      color: #666;
      padding: 10px 16px;
      background: #FBFAF8;
      border-left: 0px;
      border-right: 0px;
      border-bottom: 1px solid #FFF;
      cursor: pointer; }
    .nav-tabs > li.active {
      border-top: 0px;
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
      z-index: 3; }
      .nav-tabs > li.active a, .nav-tabs > li.active a:hover {
        border-top: 2px solid #00a2ca;
        border-left: 0px;
        border-right: 0px;
        border-bottom: 1px solid #FFF;
        color: #333; }

.nav-tabs > li > a, .nav-tabs {
  border-color: #ddd; }

.nav-tabs > li {
  margin-left: -1px;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  z-index: 1; }

.nav-tabs > li > a, .nav-tabs > li > a:focus {
  color: #666;
  border-left: 0px;
  border-right: 0px;
  margin-right: 0px;
  padding: 10px 16px;
  background: #FBFAF8;
  border-bottom: 0px; }

.nav-tabs > li.active {
  border-top: 0px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  z-index: 3; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border-top: 2px solid #00a2ca;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid #FFF;
  color: #333; }

.nav-tabs > li > a:hover {
  background-color: #FFF;
  color: #09C; }

.nav-tabs .open > a, .nav-tabs .open > a:hover, .nav-tabs .open > a:focus {
  color: #000;
  background-color: #FAFAFA;
  border-color: #EEE; }

.nav-content {
  display: none; }
  .nav-content.active {
    display: block; }

/*==============================表单=========================*/
#table_wrapper label {
  margin-bottom: 0px; }

.margin-top {
  margin-top: 8px; }

.margin-top2 {
  margin-top: 15px; }

.padding-bottom {
  padding-bottom: 8px;
  border-bottom: 1px solid #ccc; }

input[type="text"], select {
  height: 28px;
  border-radius: 0px;
  padding: 4px 6px;
  -webkit-transition: none;
  transition: none;
  font-size: 12px;
  border: 1px solid #ccc; }

.form-group.full {
  width: 100%; }
.form-group .btn {
  margin-top: -1px; }

.fy-slide-tip {
  padding: 5px;
  position: fixed;
  z-index: 1000;
  font-size: 12px;
  line-height: 1.4;
  opacity: 0.8;
  top: 0px; }
  .fy-slide-tip.fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear; }
  .fy-slide-tip .arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 5px 5px 5px; }
    .fy-slide-tip .arrow.right-arrow {
      top: 50%;
      left: -5px;
      margin-top: -5px;
      border-right-color: #425160; }
    .fy-slide-tip .arrow.top-arrow {
      left: 50%;
      bottom: -5px;
      margin-left: -5px;
      border-top-color: #425160; }
    .fy-slide-tip .arrow.left-arrow {
      top: 50%;
      right: -5px;
      margin-top: -5px;
      border-left-color: #425160; }
    .fy-slide-tip .arrow.bottom-arrow {
      left: 50%;
      top: -10px;
      margin-left: -5px;
      border-bottom-color: #425160; }
  .fy-slide-tip .tip-inner {
    max-width: 200px;
    padding: 12px 8px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    border-radius: 0 0;
    background-color: #163342; }

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  padding: 5px;
  vertical-align: middle; }
