@charset "UTF-8";
ul, li {
  list-style: none;
  margin: 0px;
  padding: 0px; }

a {
  text-decoration: none; }

.clear {
  *zoom: 1; }
  .clear:after {
    content: "";
    display: table;
    clear: both; }

body {
  margin: 0px;
  font-family: -apple-system,YuGothic,"微软雅黑",sans-serif;
  background: #f5f5f5; }

.header {
  height: 42px;
  position: relative;
  top: 0px;
  background: #000; }
  .header .header-inner {
    width: 960px;
    height: 100%;
    color: #fff;
    overflow: hidden;
    position: relative;
    margin: 0px auto;
    line-height: 42px; }
    .header .header-inner .logo {
      width: 150px;
      height: 42px;
      position: absolute;
      left: -28px; }
      .header .header-inner .logo #geeklogo {
        position: absolute;
        width: 150px;
        height: 42px; }
    .header .header-inner a {
      color: #fff;
      text-decoration: none; }
    .header .header-inner ul {
      margin-left: 130px; }
      .header .header-inner ul li {
        height: 100%;
        float: left;
        margin-right: 25px; }
        .header .header-inner ul li.active {
          background: rgba(132, 132, 132, 0.34); }

.banner {
  width: 100%;
  height: 350px;
  position: relative;
  background: #000; }
  .banner .banner-header {
    width: 100%;
    height: 38px;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0px;
    z-index: 1; }
    .banner .banner-header .banenr-header-inner {
      width: 960px;
      line-height: 38px;
      font-size: 12px;
      margin: 0px auto; }
      .banner .banner-header .banenr-header-inner .desc {
        transition: all .3s;
        color: #999; }
        .banner .banner-header .banenr-header-inner .desc a {
          color: #999; }
        .banner .banner-header .banenr-header-inner .desc:hover {
          color: #fff; }
          .banner .banner-header .banenr-header-inner .desc:hover a {
            color: #fff; }
  .banner .banner-title {
    height: 68px;
    position: absolute;
    z-index: 1;
    text-align: center;
    margin: -85px auto 0px;
    width: 100%;
    color: white;
    position: absolute;
    top: 55%;
    font-weight: 300; }
    .banner .banner-title p {
      font-size: 1.1rem;
      max-width: 640px;
      margin: 0 auto;
      margin-bottom: 0.5em;
      color: rgba(255, 255, 255, 0.8); }
    .banner .banner-title h1 {
      max-width: 640px;
      margin: 0 auto;
      font-size: 1.7rem; }
  .banner .canvas-wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.7; }
    .banner .canvas-wrap #canvasBase {
      position: absolute;
      top: 0;
      left: 0;
      background: #000;
      width: 100%;
      height: 100%; }
    .banner .canvas-wrap #canvasOverlay {
      position: absolute;
      top: 0;
      left: 0;
      mix-blend-mode: hard-light;
      width: 100%;
      height: 100%; }

.main {
  width: 960px;
  z-index: 2;
  margin: -105px auto;
  position: relative; }
  .main .area-main {
    height: 100px;
    position: relative; }
  .main .content {
    padding: 25px;
    position: relative; }
  .main .content-bg {
    position: absolute;
    background: rgba(255, 255, 255, 0.6);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1; }
  .main h1.title {
    color: #433048;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 0.5em;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0.5em; }
  .main .artic-wrap ul li {
    padding: 10px;
    border-top: 1px solid #ededed; }
    .main .artic-wrap ul li:hover {
      background: #DDD7DC; }
    .main .artic-wrap ul li:first-child {
      border-top: none; }
    .main .artic-wrap ul li a {
      color: #28a2b8; }
    .main .artic-wrap ul li .time {
      float: right; }
  .main .artic-wrap .time {
    font-size: 0.9em; }
  .main .artic-wrap .article {
    padding: 10px;
    width: 95%; }
    .main .artic-wrap .article p {
      display: block;
      line-height: 170%;
      margin: 15px auto 0px  auto;
      text-align: justify;
      white-space: pre-wrap; }
      .main .artic-wrap .article p img {
        vertical-align: top; }
      .main .artic-wrap .article p.s0 {
        margin: 5px auto 0px  auto; }
      .main .artic-wrap .article p.s1 {
        margin: 5px auto 0px  auto;
        text-indent: 50px; }
      .main .artic-wrap .article p.s2 {
        margin: 5px auto 0px  auto;
        text-indent: 100px; }
    .main .artic-wrap .article h2, .main .artic-wrap .article h3 {
      margin: 5px auto 10px;
      padding: 10px 0; }
    .main .artic-wrap .article h2 {
      border-bottom: 1px #ccc solid;
      font-size: 175%; }
    .main .artic-wrap .article pre code {
      overflow-x: scroll;
      font-family: Consolas, Courier, monospace !important;
      background: #002b36;
      color: #839496;
      display: block;
      border: none;
      font-size: 16px;
      margin: 0;
      padding: 5px; }
  .main .artic-wrap .blue {
    color: #7a7af6; }

.footer {
  height: 300px;
  width: 100%;
  position: relative; }
