*{padding:0;margin:0;}
.clearfix{
	zoom:1
}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
}
.content{
	width: 500px;
	height: 500px;
	overflow: hidden;
	margin:  0 auto;
	position: relative;
}
.list{
	position: relative;
	width: 100%;
	height: 100%;
	white-space: nowrap;
}
li{
	float: left;
	width: 500px;
	height: 100%;
}
.left,.right{
	display: block;
	position: absolute;
	top: 45%;
	font-size: 40px;
	color: green;
	text-decoration: none;
}
.left{
	left: 10px;
}
.right{
	right: 10px;
}
.spot{
	position: absolute;
	bottom: 16px;
	right: 15px;
}
.dot{
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius:50%;
	background-color: #fff;
	margin: 0 8px;
	/*-webkit-transition: opacity 600ms cubic-bezier(.23,1,.32,1);*/
	/*transition: opacity 600ms cubic-bezier(.23,1,.32,1);*/
}
.dot.selected{
	background-color: green;
}

.bar{
	position: absolute;
	bottom:10px;
	right:15px;
}
.bar-circle{
	position: relative;
	display: inline-block;
	margin:0 2px;
	height:20px;
	width:20px;
}
svg { }